from __future__ import unicode_literals

import os
import site
import sys

# Remember original sys.path.
prev_sys_path = list(sys.path)

# Add the new site-packages directory.
site.addsitedir("{{ isso_wsgi_user_home }}/.virtualenvs/isso")

# Reorder sys.path so new directories at the front.
new_sys_path = []
for item in list(sys.path):
    if item not in prev_sys_path:
        new_sys_path.append(item)
        sys.path.remove(item)
sys.path[:0] = new_sys_path

from isso import make_app
from isso import dist, config

application = make_app(
config.load(
    os.path.join(dist.location, dist.project_name, "defaults.ini"),
    "/var/www/isso/isso.conf"), multiprocessing=True)
